<main class="flex flex-col items-center pt-10 pb-10 min-h-screen">
    <h1 class="text-gray-800 text-4xl font-bold w-full pl-8 mb-6">Login</h1>
    <section class="mt-4 p-6 rounded shadow-lg bg-gray-200 w-full max-w-md">
        <form class="flex flex-col space-y-4 mb-4">
           <div>
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                <input type="email" id="email" name="email" class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-50 focus:bg-white transition">
            </div>
            <div>
                <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                <input type="password" id="password" name="password" class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-50 focus:bg-white transition">
            </div>
            <input type="button" id="login" value="Login" class="bg-gray-400 cursor-pointer hover:bg-gray-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition">
        </form>
        <a href="/api/auth/google"><button id="google-button" class="w-full cursor-pointer bg-gray-400 hover:bg-gray-500 text-white font-bold py-2 mb-4 px-4 rounded focus:outline-none focus:shadow-outline transition">Iniciar sesión con google</button></a>
        <a href="/recoveryPassword"><button class="w-full cursor-pointer border-2 border-gray-400 bg-transparent hover:bg-gray-500 hover:border-gray-500 text-gray-400 hover:text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition">Recuperar Contraseña</button></a>
    </section>
</main>
<script src="/js/login.js"></script>