<main class="flex flex-col items-center pt-10 pb-10">
    <h1 class="text-gray-800 text-4xl font-bold w-full pl-8 mb-8">Recuperar Contraseña</h1>
    <section class="bg-gray-100 shadow-md rounded-lg overflow-hidden w-3/4 px-6 py-6">
        <p class="text-gray-600 text-base mb-8 text-center leading-6">
            Aqui podras recuperar la contraseña de la cuenta:
        </p>

        <form id="recoveryForm" class="flex flex-col items-center space-y-4">
            <div class="w-1/2">
                <label for="recoveryEmail" class="block text-gray-700 text-base font-bold mb-2">Escribe el correo electronico de tu cuenta:</label>
                <input
                    type="text"
                    id="recoveryEmail"
                    name="recoveryEmail"
                    placeholder="Introduce tu correo"
                    class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-50 focus:bg-white transition"
                    required
                >
            </div>
            <input
                type="button"
                id="recoveryButton"
                value="Recuperar Contraseña"
                class="bg-gray-400 cursor-pointer hover:bg-gray-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition"
            >
        </form>
    </section>
</main>
<script src="/js/recovery.js"></script>